<%
@launch_info = @user_info.launch_info
%>

<%= stylesheet_link_tag 'launch/launch.css' %>
<%= stylesheet_link_tag 'launch/mypage.css' %>
<%= javascript_include_tag 'launch/mypage.js' %>

<script type="text/javascript">
$(document).ready(function(){
	$('.bar b').hide();
	cnt = <%= @launch_info.subscriber.count %>;	
	setTimeout(function() { set_bar(cnt); }, 1000);	
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<table width='100%' height='100%'><tr style='text-align: center'><td>
	<div id='content'>
		<a class="close" href='sign_out'>×</a><br>
		<%= image_tag 'logo.png', :id => 'logo' %>
		<br><br>
		<h2 style='font-size: 28px'>Hello <%= @user_info.email %>!</h2>
		<div id='info'>
			<table width='681px' border=0>
				<tr>
					<td>Signup for beta</td>
					<td>Invite 2 friend</td>
					<td>Invite 5 friend</td>
					<td>Invite 10+ friend</td>
				</tr>
				<tr height='40px'> 
					<td class='bar_container' colspan=4>
						<div class='bar'>
							<div style='float:right;padding: 3px 6px 0;'>
								<b id='bar_count'></b>
								<b>friend<%= 's' if @launch_info.subscriber.count > 1%> invited</b>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Known when we launch.</td>
					<td>Early access to Shopulse.</td>
					<td>Free shipping on<br>first order.</td>
					<td>Get a free Shopulse <br> t-shirt</td>
				</tr>
			</table>
		</div>
		<br><br>
		<div id='sns_group'>
			<table width='680px'>
				<tr>
					<td>Share your link</td>
					<td>Share by email</td>
					<td>Send link directly</td>
				</tr>
				<tr>
					<td>
						<div style='padding: 0 -1px 0 15px;'class="fb-send" data-href="http://shopulse.com/invite/<%= @launch_info.ref %>" data-font="arial"></div>
						<a href="https://twitter.com/share" class="twitter-share-button" data-text="Shopulse is launching soon and I'll be one of the first to get access. Join me!" data-via="itsshopulse" data-count="none">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</td>
					<td>
						<%= form_for :email, :method => 'POST', :remote => true,
						:html=>{:id => 'email_form', :onsubmit => 'hide_email_pane()'} do |f| %>
						<%= f.email_field :recipients, :placeholder => 'enter emails (comma seperated)', 
						:onclick => 'show_email_pane();', 
						:multiple => "multiple",
						:required => true%>
						<div id='email_pane'>
							<%= f.text_field :subject, :placeholder => 'email subject', :required => true %>
							<%= f.text_area :message, :placeholder => 'email message', :required => true %>
							<%= f.submit "" %>
						</div>
						<p style='text-align: center; margin: 0'>or import contacts</p>
						<!-- Any link with a class="cs_import" will start the import process -->
						<div class="social-buttons" style="">
							<span onclick='show_email_pane()'>
								<a id="source-yahoo" href="#" onclick="return cloudsponge.launch('yahoo');"><img height="28" src="<%= asset_path('yahoo.png') %>" width="28"></a>
								<a id="source-gmail" href="#" onclick="return cloudsponge.launch('gmail');"><img height="28" src="<%= asset_path('google.png') %>" width="28"></a>								
								<a id="source-addressbook" href="#" onclick="return cloudsponge.launch('addressbook');" style="display: inline;"><img height="28" src="<%= asset_path('apple.png') %>" width="28"></a>
							</span>
						</div>
						<!-- Include these scripts at the bottom of your page to import address books with CloudSponge -->
						<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
						<script type="text/javascript" charset="utf-8">
						var csPageOptions = {
							domain_key:"8S2E4UDP2C7DPZ4W26E8", 
							textarea_id:"email_recipients"
						};
						</script>
						<script src="https://api.cloudsponge.com/address_books.js"></script>
						<% end %>
					</td>
					<td>
						<input type='text' id='ref_link' value="http://www.shopulse.com/invite/<%= @launch_info.ref %>" onclick="this.select()" />
					</td>
				</tr>
			</table>
		</div>

		<ul id="inner-footer">
			<li class="inner-footer_icon facebook"><a href="http://facebook.com/shopulse" target="_blank">Facebook Page</a></li>
			<li class="inner-footer_icon twitter"><a href="http://twitter.com/itsshopulse" target="_blank">Follow Me</a></li>
			<div class="clear"></div>
		</ul>	
	</div>
</td></tr></table>

<div id="invitation_dialog">
	<a class="close" onclick="$('#invitation_dialog').dialog('close')">×</a>
	<h2 style='text-align: center'>Invitation Sent!</h2>
</div>

<div class='wallpaper' id='1'>
	<%= image_tag 'launch/bg1.jpeg' %>
</div>
<div class='wallpaper' id='2'>
	<%= image_tag 'launch/bg2.jpeg'%>
</div>
