<%
@launch_info = @user_info.launch_info
@launch_info.subscriber = [1,2,3,4,5]

%>

<%= stylesheet_link_tag 'launch/launch.css' %>
<%= stylesheet_link_tag 'launch/mypage.css' %>
<%= javascript_include_tag 'launch/mypage.js' %>
<script type="text/javascript">
$(document).ready(function(){
	$('.bar b').hide();
	cnt = <%= @launch_info.subscriber.count %>;	
	setTimeout(function() { set_bar(cnt); }, 1000);	
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<table width='100%' height='90%'><tr style='text-align: center'><td>
	<div id='content'>
		<%= image_tag 'logo.png', :id => 'logo' %>
		<br><br>
		<h2 style='font-size: 28px'>HELLO!</h2>
		<div id='info'>
			<table width='681px' border=0>
				<tr>
					<td>Signup for beta</td>
					<td>Invite 2 friend</td>
					<td>Invite 5 friend</td>
					<td>Invite 10+ friend</td>
				</tr>
				<!-- <tr><td height='5px'></td><td></td><td></td><td></td></tr> -->
				<tr height='40px'> 
					<td class='bar_container' colspan=4>
						<div class='bar'>
							<div style='float:right;padding: 3px 6px 0;'>
								<b id='bar_count'></b>
								<b>friends invited</b>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Known when we launch.</td>
					<td>Early access to Shopulse.</td>
					<td>Free shipping on<br>first order.</td>
					<td>Get a free Shopulse <br> t-shirt</td>
				</tr>
			</table>
		</div>
		<br>
		<div id='sns_group'>
			<table width='680px'>
				<tr>
					<td>Share your link</td>
					<td>Share by email</td>
					<td>Send link directly</td>
				</tr>
				<tr>
					<td width='180px'>
						<div style='padding: 0 1px 0 15px;'class="fb-send" data-href="http://shopulse.com/invite" data-font="arial"></div>
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="itsshopulse">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</td>
				</tr>
			</table>
		</div>

		<p>http://localhost:3000/invite/<%= @launch_info.ref %></p>
		<ul id="inner-footer">
			<li class="inner-footer_icon facebook"><a href="http://facebook.com/shopulse" target="_blank">Facebook Page</a></li>
			<li class="inner-footer_icon twitter"><a href="http://twitter.com/itsshopulse" target="_blank">Follow Me</a></li>
			<div class="clear"></div>
		</ul>			
	</div>
</td></tr></table>


		<!-- <div id='sns'>
		<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
			<div href='<%= "http://#{request.domain}/invite/#{@launch_info.ref}" %>' class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
		</div> -->