<!DOCTYPE html>
<html>
<head>
	<title>Shopulse</title>

	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= stylesheet_link_tag 'layout.css' %>
	<%= javascript_include_tag "application" %>	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald%7CAbel%7CPodkova">
	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
