<!DOCTYPE html>
<html>
<head>
	<title>Shopulse | Exclusive sales from the world's best boutiques.</title>
	<link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>" type="image/x-icon">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= stylesheet_link_tag 'layout.css' %>
	<%= javascript_include_tag "application" %>	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald%7CAbel%7CPodkova">

	<!-- Facebook Conversion tracking -->
	<script type="text/javascript">
	var fb_param = {};
	fb_param.pixel_id = '6007044148133';
	fb_param.value = '0.00';
	(function(){
	  var fpw = document.createElement('script');
	  fpw.async = true;
	  fpw.src = '//connect.facebook.net/en_US/fp.js';
	  var ref = document.getElementsByTagName('script')[0];
	  ref.parentNode.insertBefore(fpw, ref);
	})();
	</script>
	<!-- Google Analytic -->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38992520-1']);
	_gaq.push(['_setDomainName', 'shopulse.com']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	
	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
